<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [2]:
import pandas as pd

Load the dataset into a dataframe.

In [4]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [8]:
# your code goes here
num_duplicates = df.duplicated().sum()

print(f"There are {num_duplicates} duplicate rows in the dataset.")

There are 154 duplicate rows in the dataset.

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [9]:
# your code goes here
df_no_duplicates = df.drop_duplicates()

# Print the shape of the DataFrame before and after removing duplicates
print("Shape of the DataFrame before removing duplicates:", df.shape)
print("Shape of the DataFrame after removing duplicates:", df_no_duplicates.shape)

Shape of the DataFrame before removing duplicates: (11552, 85)
Shape of the DataFrame after removing duplicates: (11398, 85)

Verify if duplicates were actually dropped.

In [12]:
# your code goes here
print("Shape of the DataFrame after removing duplicates:", df_no_duplicates.shape)

Shape of the DataFrame after removing duplicates: (11398, 85)

## Finding Missing values

Find the missing values for all columns.

In [13]:
# your code goes here
missing_values = df.isna().sum()

print("Missing values for each column:")
print(missing_values)

Missing values for each column:
Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       547
Ethnicity       683
Dependents      144
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [14]:
# your code goes here
missing_workloc = df['WorkLoc'].isna().sum()

print(f"Number of missing values in the 'WorkLoc' column: {missing_workloc}")

Number of missing values in the 'WorkLoc' column: 32

In [15]:
duplicate_respondents = df['Respondent'].duplicated().sum()

print(f"Number of duplicate values in the 'Respondent' column: {duplicate_respondents}")

Number of duplicate values in the 'Respondent' column: 154

In [18]:
unique_respondents = df_no_duplicates['Respondent'].nunique()

print(f"After removing duplicate rows, there are {unique_respondents} unique rows in the 'Respondent' column.")

After removing duplicate rows, there are 11398 unique rows in the 'Respondent' column.

In [19]:
# Remove duplicate rows
df_no_duplicates = df.drop_duplicates()

# Count the number of missing values in the 'EdLevel' column after removing duplicates
missing_edlevel = df_no_duplicates['EdLevel'].isna().sum()

print(f"After removing duplicate rows, there are {missing_edlevel} blank rows in the 'EdLevel' column.")

After removing duplicate rows, there are 112 blank rows in the 'EdLevel' column.

In [20]:
# Count the number of missing values in the 'Country' column after removing duplicates
missing_country = df_no_duplicates['Country'].isna().sum()

print(f"After removing duplicate rows, there are {missing_country} missing rows in the 'Country' column.")

After removing duplicate rows, there are 0 missing rows in the 'Country' column.

In [33]:
# Filter the DataFrame for respondents paid yearly
yearly_paid = df_no_duplicates[df_no_duplicates['CompFreq'] == 'Yearly']

# Count the number of respondents paid yearly
num_yearly_paid = yearly_paid.shape[0]

print(f"After removing duplicate rows, {num_yearly_paid} respondents are being paid yearly.")

After removing duplicate rows, 6073 respondents are being paid yearly.

In [23]:
employment_counts = df['Employment'].value_counts()

# Identify the majority category (most frequent value) in the 'Employment' column
majority_employment = employment_counts.idxmax()

print(f"The majority category in the 'Employment' column is: {majority_employment}")

The majority category in the 'Employment' column is: Employed full-time

In [24]:
# Get the value counts for the 'UndergradMajor' column
undergrad_major_counts = df['UndergradMajor'].value_counts()

# Identify the category with the minimum number of rows in the 'UndergradMajor' column
min_category = undergrad_major_counts.idxmin()

print(f"The category with the minimum number of rows in the 'UndergradMajor' column is: {min_category}")

The category with the minimum number of rows in the 'UndergradMajor' column is: A health science (ex. nursing, pharmacy, radiology)

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [16]:
# your code goes here
workloc_counts = df['WorkLoc'].value_counts()

print("Value counts for the 'WorkLoc' column:")
print(workloc_counts)

Value counts for the 'WorkLoc' column:
WorkLoc
Office                                            6905
Home                                              3638
Other place, such as a coworking space or cafe     977
Name: count, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [26]:
#make a note of the majority value here, for future reference
#
workloc_counts = df['WorkLoc'].value_counts()

# Identify the most frequent value (majority) in the 'WorkLoc' column
most_frequent_workloc = workloc_counts.idxmax()

print(f"The most frequent value in the 'WorkLoc' column is: {most_frequent_workloc}")

The most frequent value in the 'WorkLoc' column is: Office

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [28]:
# Identify the majority category (most frequent value) in the 'WorkLoc' column
majority_workloc = workloc_counts.idxmax()

# Impute (replace) empty rows in the 'WorkLoc' column with the majority value
df['WorkLoc'] = df['WorkLoc'].fillna(majority_workloc)

# Verify the changes
print("Value counts after imputation:")
print(df['WorkLoc'].value_counts())

Value counts after imputation:
WorkLoc
Office                                            6937
Home                                              3638
Other place, such as a coworking space or cafe     977
Name: count, dtype: int64

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [29]:
# your code goes here
# Get the value counts for the 'WorkLoc' column before imputation
workloc_counts_before = df['WorkLoc'].value_counts()

# Identify the majority category (most frequent value) in the 'WorkLoc' column
majority_workloc = workloc_counts_before.idxmax()

# Impute (replace) empty rows in the 'WorkLoc' column with the majority value
df['WorkLoc'] = df['WorkLoc'].fillna(majority_workloc)

# Get the value counts for the 'WorkLoc' column after imputation
workloc_counts_after = df['WorkLoc'].value_counts()

# Verify if imputation was successful
if workloc_counts_before.equals(workloc_counts_after):
    print("Imputation was successful.")
else:
    print("Imputation was not successful.")

Imputation was successful.

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [30]:
# your code goes here
# List out the various categories in the 'CompFreq' column
compfreq_categories = df['CompFreq'].unique()

print("Categories in the 'CompFreq' column:")
print(compfreq_categories)

Categories in the 'CompFreq' column:
['Yearly' 'Monthly' 'Weekly' nan]

In [31]:
num_unique_compfreq = df['CompFreq'].nunique()

print(f"There are {num_unique_compfreq} unique values in the 'CompFreq' column.")

There are 3 unique values in the 'CompFreq' column.

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [32]:
# your code goes here
# Create a new column 'NormalizedAnnualCompensation'
def normalize_compensation(row):
    if row['CompFreq'] == 'Yearly':
        return row['CompTotal']
    elif row['CompFreq'] == 'Monthly':
        return row['CompTotal'] * 12
    elif row['CompFreq'] == 'Weekly':
        return row['CompTotal'] * 52
    else:
        return None

df['NormalizedAnnualCompensation'] = df.apply(normalize_compensation, axis=1)

# Print the first few rows to verify
print(df[['CompFreq', 'CompTotal', 'NormalizedAnnualCompensation']].head())

  CompFreq  CompTotal  NormalizedAnnualCompensation
0   Yearly    61000.0                       61000.0
1   Yearly   138000.0                      138000.0
2   Yearly    90000.0                       90000.0
3  Monthly    29000.0                      348000.0
4   Yearly    90000.0                       90000.0

In [34]:
# Create a new column 'NormalizedAnnualCompensation'
def normalize_compensation(row):
    if row['CompFreq'] == 'Yearly':
        return row['CompTotal']
    elif row['CompFreq'] == 'Monthly':
        return row['CompTotal'] * 12
    elif row['CompFreq'] == 'Weekly':
        return row['CompTotal'] * 52
    else:
        return None

df['NormalizedAnnualCompensation'] = df.apply(normalize_compensation, axis=1)

# Calculate the median of 'NormalizedAnnualCompensation'
median_compensation = df['NormalizedAnnualCompensation'].median()

print(f"The median NormalizedAnnualCompensation is: {median_compensation}")

The median NormalizedAnnualCompensation is: 100000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).